.btn-none {
  border: 1px solid #ff7315;
}

.btn-none:hover {
  border: 1px solid #ff7315;
}

.btn-rating {
  border-radius: 0px;
  font-size: 15px;
  border: none;
}

.btn-rating:hover {
  background-color: #ff7315;
  color: white;
  border: none;
  border-radius: 0px;
}
