* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo_navbar {
  height: 40px;
  width: 50px;
}

/* Responsive */
@media screen and (max-width: 499px) {
  .cat_wrapper {
    max-width: 100%;
  }

  .bola {
    width: 100%;
  }

  .futsal {
    width: 100%;
  }

  .bulutangkis {
    width: 100%;
  }

  .basket {
    width: 100%;
  }

  .voli {
    width: 100%;
  }

  .billiard {
    width: 100%;
  }
}