* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo_navbar {
  height: 40px;
  width: 50px;
}

/* @include media-breakpoint-up(xl) {
  .nav {
    max-width:100%;
    background-color: 'blue' ;
  }
} */